* {
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(124, 141, 93);
    height: 10vh;
    padding: 0%;
}

main {
    background-color: rgb(230, 220, 206);
    height: 80vh;
}


footer {
    background-color: rgb(109, 106, 106);
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
}

